<h1 id="acknowledgements">Acknowledgements</h1>
<div class="figure*">
<p><img src="images/dvic.png" style="width:4cm" alt="image" /></p>
</div>
<p><em>Chapter <a href="#c1" data-reference-type="ref" data-reference="c1">[c1]</a>.</em> was developed at the De Vinci Innovation Center. Clement Duhart of the DVIC showed much faith to enable such a project.</p>
<p><em>Chapter <a href="#c2" data-reference-type="ref" data-reference="c2">[c2]</a>.</em> was developed with the help of the DVIC Drone Team. Adem, Matt and Berenice, thank you for joining yourselves to me. I trust that future generations of students will make good use of this work.</p>
<p>The De Vinci Innovation Center is a growing community of students, startups, hackers and fabricators at La Défense, Paris. They have a laissez-faire that lends itself to multi-disciplinary projects and a growing innovation laboratory.</p>
<div class="figure*">
<p><img src="images/stage_sota/alliantech_logo.png" style="width:6cm" alt="image" /></p>
</div>
<p><em>Chapter <a href="#c3" data-reference-type="ref" data-reference="c3">[c3]</a>.</em> was developed with members of AllianTech, a company specialised in the supply of sensors and sensor system technologies.</p>
<p>While AllianTech are rooted in France, they liaise with global brands on subjects of acceleration, angular speeds, force, pressure, temperature and mechanical vibrations. Aside from their sales and marketing department, they have a technical service to adapt products to the client, offer after-sale support and assembly solutions for several clients. Their head office is based in Paris and they have a design office in Toulouse.</p>
<p>A final thanks to Clement Duhart and Marc Teyssier, without whom I would not have strived for this goal.</p>
<h1 id="author-background">Author Background</h1>
<p>Thomas Carstens holds a dual Bachelor’s degree in Mechanical and Mechatronic Engineering from the University of Cape Town, South Africa. This thesis is the final step of the Engineering Masters at ESILV, in Paris, France. For the ESILV Masters, Thomas studied the Creative Technologist Track. He documents his latest work on his personal website: <span>https://thomascarstens.github.io/</span></p>
